{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }} }{% endcss %}
<div class="">
	{% for post in postslist | reverse %}
	<div>
		<h2 class="text-lg"><a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{%
			else %}<code>{{ post.url }}</code>{% endif %}</a>

			<br/><span class="font-serif text-md text-gray-600">Published:  <time class=" font-serif postlist-date"
						datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("d LLLL yyyy") }}</time>

{% if post.data.tags %}
in {% for tag in post.data.tags | filterTagList %}
 <a class="text-gray-600" href="/tags/{{ tag }}">{{ tag }}</a>
{% endfor %}
{% endif %}
			</span>
		</h2>
	</div>
	{% endfor %}
</div>
