---
layout: layouts/base.njk
---
<article>{# Only include the syntax highlighter CSS on blog posts #}
	{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
	{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
	<h1>{{ title }}</h1>
	<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

	<ul class="post-metadata flex p-0 m-0">
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li class="list-none ps-0 pr-2"><a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>{%- if not loop.last %}, {%
			endif %}
		</li>
		{%- endfor %}
	</ul>

	{{ content | safe }}

	{%- if collections.posts %}
	{%- set previousPost = collections.posts | getPreviousCollectionItem %}
	{%- set nextPost = collections.posts | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<div class="grid grid-cols-2 gap-4 text-gray-600">
		{%- if previousPost %}
		<div><strong>Previous:</strong>
			<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></div>
		{% endif %}
		{%- if nextPost %}
		<div class="text-right"><strong>Next:</strong>
			<br> <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></div>
		{% endif %}
		{%- endif %}
		{%- endif %}
	</div>

		{% set currentCategory = category | default('')%}
		{% set categoryPosts = collections.postsByCategory[currentCategory] | reverse %}
		{% set relatedPosts = categoryPosts | filterNotCurrentPost(title) %}

		{% if relatedPosts.length > 0 %}
		<div class="bg-gray-800 text-white rounded-sm px-6 py-4 my-10">
		<h2 class="text-white mt-0">Related Posts</h2>
		<ul>
			{% for post in relatedPosts %}
			<li>
				<a class="text-white" href="{{ post.url }}">{{ post.data.title }}</a>
			</li>
			{% endfor %}
		</ul>
		</div>
		{% endif %}
</article>
<div>
	<div class="max-w-1/2 bg-white/90 auto-mx border rounded-lg box-shadow p-10">
		<img class="float-right shadow border border-gray-300 rounded-full" src="/img/len-dierickx.jpeg" width="128" height="128">
		<p>Hi there,</p>
		<p>My name is Len Dierickx and I am the founder and developer of Sitefig</p>
		<p>I have been working mostly on international websites managed by large companies and always found that it has been pretty difficult to get a grip on those corporate beasts.</p>
		<p>Many times frustration was part of that experience. Instead of running around fires, I built many tools over the year. Tools that culminated in Sitefig, which is basically a webmaster on steroids.</p>
		<p>Sitefig is 100% owned and bootstrapped by me.</p>
		<p>If you'd like to get a demo account, or just want to have a talk about managing websites, send me an <a href="mailto:support@sitefig.eu?subject=Demo account" class="text-primary font-bold underline">demo account</a>
			or contact me on <a class="text-primary font-bold underline" href="https://www.linkedin.com/in/lendierickx/">Linkedin</a></p>

	</div>

</div>
